@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500;1,700&display=swap");
body {
  background-color: #bde0fe;
  margin: 0px;
  padding: 0px; }

/*-- Header --*/
.Header__navbar {
  background-color: #080808; }
  .Header__navbar a {
    background-color: #080808;
    font-size: 1.3rem;
    font-family: "Josefin Sans", sans-serif;
    color: #219ebc;
    transition: all 500ms ease-in-out; }
  .Header__navbar a:hover {
    transform: translate(3px);
    transform: scale(1.1);
    background-color: #080808;
    font-size: 1.3rem;
    font-family: "Josefin Sans", sans-serif;
    color: #219ebc;
    color: #ccc; }
  .Header__navbar .logo img {
    width: 8rem; }

.Header .Header__navbar .navbar-brand {
  color: #219ebc; }
  .Header .Header__navbar .navbar-brand:hover {
    color: #ccc; }

.dropdown-menu {
  background-color: #080808; }

.dropdown-item {
  display: inline; }

/*-- Banner slider --*/
.carousel-caption h5 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #080808; }

.carousel-caption p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  color: #f8fcff; }

/*-- Footer --*/
.cardfooter {
  background-color: #080808; }
  .cardfooter .cardfooter .card__cardheader {
    border-bottom: 1px solid white; }
    .cardfooter .cardfooter .card__cardheader .cardfooter .card__cardheader .card__cardheader--navbar-brand {
      color: #219ebc;
      margin: 1rem; }
      .cardfooter .cardfooter .card__cardheader .cardfooter .card__cardheader .card__cardheader--navbar-brand:hover {
        color: #ccc; }

.Linea {
  border-bottom: 2px solid #f8fcff; }

.card-footer {
  background-color: #535c61; }

.cardfooter {
  background-color: #080808; }

.cardfooter .card__cardheader {
  padding-left: .5rem;
  border-bottom: 1px solid #f8fcff; }

.card .card__cardheader .card__cardheader--navbar-brand {
  color: #219ebc;
  margin: 1rem; }

.cardfooter .card__cardheader a img {
  width: 7rem;
  color: #219ebc; }

/*-- Ubicación --*/
.card-body {
  display: flex;
  color: #f8fcff;
  align-items: baseline;
  justify-content: space-between; }
  .card-body a {
    display: inline-block;
    text-decoration: none;
    color: #f8fcff; }

/*-- Contacto --*/
.mail {
  display: flex;
  align-items: center; }

@media all and (max-width: 768px) {
  .mail {
    display: flex;
    flex-direction: column; } }

.mail2 {
  display: flex;
  justify-content: center;
  color: white;
  padding-left: 5rem; }

/*-- Redes Sociales --*/
.Redes {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-right: 1rem; }

@media all and (max-width: 768px) {
  .card-body {
    display: block; }
  .card-body img {
    display: block; }
  .Redes {
    display: none; }
  .mail2 {
    padding-left: 0rem; } }

@media (max-width: 1024px) {
  .card-body {
    display: block; }
  .card-body img {
    display: block; }
  .Redes {
    display: none; }
  .mail2 {
    padding-left: 0rem; } }

/*-- Inicio --*/
.EstiloInicio {
  padding-top: 4rem; }

.EstiloInicio p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin: 1rem;
  padding: 1rem; }

.llenarEspacio {
  padding: 4.3rem; }

.llenarEspacio2 {
  padding: 2.1rem; }

.llenarEspacio4 {
  padding: 11.7rem; }

.llenarEspacio5 {
  padding: .78rem; }

.llenarEspacio6 {
  padding: 15.4rem; }

.Formulariotext {
  padding: 1em;
  margin: auto;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  background-color: #219ebc;
  text-align: center;
  font-weight: 600;
  border-bottom: 3px solid black; }

/*-- Nosotros --*/
.d-flex {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 1rem;
  padding: 1rem; }
  .d-flex .d-flex__parrafo {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Libre Franklin", sans-serif; }
  .d-flex a {
    text-decoration: none;
    color: #219ebc; }
  .d-flex .d-flex__parrafo--texto {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Libre Franklin", sans-serif; }
  .d-flex span {
    margin-bottom: 1rem; }

/*-- Eventos --*/
.EstiloEventos p {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Libre Franklin", sans-serif; }

.estiloFotosEventos {
  margin: 0.5rem 0.5em;
  padding: 0.5rem 0.5em;
  font-family: "Libre Franklin", sans-serif;
  border: 2px solid black;
  background-color: black; }

/*-- Servicios --*/
.servicios {
  text-decoration: none;
  color: #080808;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif; }
  .servicios a {
    text-decoration: none;
    color: #219ebc; }

/*-- Formulario --*/
.Formulario {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  padding: 1rem 1em;
  margin: 1rem 1em;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black; }
  .Formulario .Formulario__Formulariotext1 {
    font-size: 1rem;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold; }
  .Formulario .Formulario__Formulariotext1--Formulariotext2 {
    font-size: 1rem;
    font-family: "Libre Franklin", sans-serif;
    padding: 0.5rem 0.5em;
    margin: 0.5rem 0.5em;
    font-style: italic;
    font-weight: bold; }

.form-control {
  resize: none;
  border: 1px solid black; }

.Campo2 {
  width: 350px;
  height: 100px;
  border: 1px solid black; }

.alejar {
  padding: 1rem; }

.boton {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #219ebc;
  color: #080808; }

.contenedorMapa {
  padding-left: 1rem;
  width: 635px;
  height: 510px;
  color: #219ebc;
  background-color: #535c61; }
  .contenedorMapa .contenedorMapa__estiloMapa {
    margin: .5rem;
    font-size: 1.5rem;
    font-family: "Libre Franklin", sans-serif; }

@media all and (max-width: 768px) {
  .contenedorMapa {
    display: none; } }
