body{
	background-color: $fondo;
	margin:0px;
	padding:0px;
}

@mixin fuentes{
	background-color:$secundario;
	font-size:1.3rem;
	font-family:$fuente1;
	color:$primario;
}
.Header__navbar{
	background-color:$secundario;

	a{
		@include fuentes;
		transition: all 500ms ease-in-out;
	}
	a:hover{
		transform: translate(3px);
		transform: scale(1.1);
		@include fuentes;
		color: #ccc;
	} 
	.logo img{

		width: 8rem;
	}	
}
.Header{
	.Header__navbar{
		.navbar-brand{
			color:$primario;
			&:hover{
				color:#ccc;
			}
		}
	}
}

.dropdown-menu {
	background-color:$secundario;
}
.dropdown-item{
	display:inline;
}
.carousel-caption h5{
	font-family: $fuente2;
	font-size: 1.5rem;
	font-weight: $fontfranklin-bold;
	color:$secundario;
	}
.carousel-caption p{
			font-family: $fuente2;
		font-weight: $fontfranklin-bold;
		color:$tercero;
}	
.estiloTexto h5{
	font-family: $fuente2;
	font-size: 1.3rem;
	font-weight: $fontfranklin-bold;
	color:$secundario;
}
	.estiloTexto{
		font-family: $fuente2;
		font-weight: $fontfranklin-bold;
		color:$tercero;
	}

.cardfooter{
	background-color:$secundario;
	.cardfooter .card__cardheader{
		border-bottom: 1px solid white;
		.cardfooter .card__cardheader .card__cardheader--navbar-brand{
			color:$primario;
			margin:1rem;
			&:hover{
				color:#ccc;
			}
		}
	}
}
.Linea{
	border-bottom: 2px solid $tercero;
}

.card-footer{
	background-color: $texto;
}
.cardfooter {
	background-color: $secundario; }
	.cardfooter .card__cardheader {
		padding-left: .5rem;
		border-bottom: 1px solid $tercero; }
		.card .card__cardheader .card__cardheader--navbar-brand {
			color: $primario;
			margin: 1rem; }
			.cardfooter .card__cardheader a img{
				width: 7rem;
				color: $primario;
			}   

			.card-body{
				display: flex;
				color:$tercero;
				align-items: baseline;
				justify-content: space-between;

				a{
					display:inline-block;
					text-decoration: none;
					color: $tercero;
				}
			}

			.mail{
				display:flex;
				align-items:center;
			}
			@media all and (max-width: 768px){
				.mail {
					display:flex;
					flex-direction:column;
				}
			}
			.mail2{
				display:flex;
				justify-content:center;
				color:white;
				padding-left:5rem;
			}

			.mail2Recibe{
				p{
					display:flex;
					justify-content:center;
					color:white;
					padding-left:5rem;
				}
			}
			.Redes{
				display:flex;
				justify-content:flex-end;
				padding-bottom:1rem;
				padding-right:1rem;
			}	
			@media all and (max-width: 768px){
				.card-body{
					display:block;
				}
				.card-body img{
					display:block;
				}
				.Redes{
					display:none;
				}
				.mail2{
					padding-left:0rem;
				}
			}

			@media (max-width: 1024px) {
				.card-body{
					display:block;
				}
				.card-body img{
					display:block;
				}
				.Redes{
					display:none;
				}
				.mail2{
					padding-left:0rem;
				}
			}
			@mixin font{
				font-family:$fuente2;
				font-weight:$fontfranklin-bold;
				font-size: 3rem;
				margin:1rem;
				padding:1rem;
			}
			.EstiloInicio{
				padding-top:4rem;
			}
			.EstiloInicio p{
				@include font;
			}
			.llenarEspacio{
				padding:4.3rem;
			}
			.llenarEspacio2{
				padding:2.1rem;
			}
			.llenarEspacio4{
				padding:3.7rem;
			}
			.llenarEspacio5{
				padding:.78rem;
			}
			.llenarEspacio6{
				padding:15.4rem;
			}
			.Formulariotext{
				padding: 1em;
				margin:auto;
				font-size: 2rem;
				font-family:$fuente1;
				background-color: $primario;
				text-align: center;
				font-weight:$fontjosefin-bold;
				border-bottom: 3px solid black;
			}
			@mixin parrafo ($size, $weight, $family){
				font-size:$size;
				font-weight: $weight;
				font-family: $family;
			}
			.d-flex{
				display:flex;
				flex-direction: column;
				text-align: justify;
				margin: 1rem;
				padding: 1rem;

				.d-flex__parrafo{
					@include parrafo (1.5rem, $fontfranklin-regular, $fuente2);
				}
				a{
					text-decoration: none;
					color: $primario;
				}

				.d-flex__parrafo--texto{
					font-size: 1.5rem;
					font-weight: $fontfranklin-light;
					font-family:$fuente2;
				}
				span{
					margin-bottom: 1rem;
				}
			}

			.servicios {
				text-decoration: none;
				color: $secundario;
				margin: 10px;
				padding: 10px;
				font-size: 20px;
				font-weight: $fontfranklin-bold;
				font-family: $fuente2;

				a{
					text-decoration: none;
					color: $primario;
				}
			}
			///*css tabla*///
			.Servicios{
				text-transform: uppercase;
				border:2px solid red;
				background-color:$fondo;
			}
			.card-text{
				color:$secundario;
				font-size: 2rem;
				font-weight: $fontfranklin-bold;
				font-family: $fuente2;
			}
			///*css tabla*///

			.EstiloEventos{
				p{
					margin: 10px;
					padding: 10px;
					font-size: 20px;
					font-weight: bold;
					font-family: $fuente2;
				}
			}
			.estiloFotosEventos{
				margin: 0.5rem 0.5em;
				padding: 0.5rem 0.5em;
				font-family: $fuente2;
				border: 2px solid black;
				background-color:black;
			}
			.Formulario{
				font-family:$fuente2;
				font-weight: bold;
				padding: 1rem 1em;
				margin: 1rem 1em;
				margin-top:2.5rem;
				display: flex;
				flex-direction: row;
				justify-content: space-around; 
				border: 2px solid black;
				.Formulario__Formulariotext1{
					font-size: 1rem;
					font-family:$fuente2;
					font-weight: bold;
				}
				.Formulario__Formulariotext1--Formulariotext2{
					font-size: 1rem;
					font-family:$fuente2;
					padding: 0.5rem 0.5em;
					margin: 0.5rem 0.5em;
					font-style: italic; 
					font-weight: bold;
				}	
			}

			.form-control{
				resize: none;
				border:1px solid black;
			}	
			.Campo2{
				width: 350px;
				height: 100px;
				border:1px solid black;
			}

			.alejar{
				padding:1rem;
			}

			.boton{
				font-size: 1.1rem;
				font-weight: $fontjosefin-bold;
				background-color:$primario;
				color:$secundario;
			}
			.contenedorMapa{
				padding-left: 1rem; 
				width:635px;
				height:510px;
				color: $primario;
				background-color:$texto;
				.contenedorMapa__estiloMapa{
					margin:.5rem;
					font-size: 1.5rem;
					font-family:$fuente2;
				}
				.contenedorMapa__estiloMapa--Mapa{
				}	
			}
			@media all and (max-width: 768px){
				.contenedorMapa{
					display:none;
				}
			}
