$fondo:#bde0fe;
$primario:#219ebc;
$secundario:#080808;
$tercero:#ffffff;
$texto:#535c61;
$fuente1:'Josefin Sans', sans-serif;
$fuente2:'Libre Franklin', sans-serif;
$fontjosefin-light:200;
$fontjosefin-regular:400;
$fontjosefin-bold:600;
$fontfranklin-light:300;
$fontfranklin-regular:400;
$fontfranklin-bold:600;
